#points_table{
    float: right;
    width: 50%;
    margin-top: -15%;
    margin-right: 5%;
}
#result_table{
    vertical-align: center;
    border:5px solid rgb(112,84,232);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 0px;
    height: 400px;
    display: block;
    overflow: auto;

}
#result_table th,#result_table td{
    border: 1px solid black;
    padding: 0px;
    height: 30px;
    width: 1%;
    text-align: center;

}
#result_table th{
    background-color: #66f9;
}
